version: "3.1"

volumes:
    prometheus_data: {}

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus/:/etc/prometheus/
      - prometheus_data:/prometheus
    command:
     - '--config.file=/etc/prometheus/prometheus.yml'
     - '--storage.tsdb.path=/prometheus'
     - '--web.console.libraries=/usr/share/prometheus/console_libraries'
     - '--web.console.templates=/usr/share/prometheus/consoles'
     - '--web.enable-lifecycle'

    ports:
      - "9090:9090"
    
    networks:
      - promnet

    restart: always
    deploy:
      mode: global    
    links:
      - "node-exporter:node-exporter"
      - "ecs-exporter:ecs-exporter"

  node-exporter:
    image: prom/node-exporter
    container_name: node-exporter
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command: 
      - '--path.procfs=/host/proc' 
      - '--path.sysfs=/host/sys'
      - --collector.filesystem.ignored-mount-points
      - "^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)"
    ports:
      - 9100:9100
    networks:
      - promnet
    restart: always
    deploy:
      mode: global
  
  ecs-exporter:
    image: slok/ecs-exporter
    container_name: ecs-exporter
    command:
      - '-aws.region="eu-west-1"'
    ports: 
      - 9222:9222
    networks:
      - promnet
    restart: always
    deploy:
      mode: global

networks:
  back-tier:
  promnet:
    driver: bridge
